.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 32px 0;

  .copy {
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
    opacity: 0.5;
  }
}
