.header {
  position: fixed;
  top: 0;
  padding: 8px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 12px;
  background: var(--background);
}

.container {
  overflow-y: auto;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  &::-webkit-scrollbar {
    display: none;
  }
}
