@use '@/styles/breakpoint.scss' as breakpoint;

@keyframes shining {
  0% {
    translate: 0 0;
  }
  70%,
  100% {
    translate: 0 200%;
  }
}

.progress {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: var(--primary);
  transform: translateX(-50%);
  transition: width 500ms;
  z-index: 10;

  @include breakpoint.width640 {
    top: 0;
  }
}

.container {
  overflow-y: auto;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.backgroundGroup {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 50%;
    opacity: 0.7;
    background: radial-gradient(var(--primary), transparent 70%);
    animation: shining linear 6s 1800ms infinite;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    background: url('../../assets/bg-pattern.png') center top repeat,
      linear-gradient(to bottom, transparent, var(--background) 50%);
  }
}
