.profile {
  padding: 8px;
  border-radius: 50%;
  border: 1px dashed var(--primary);
  border-bottom-width: 0px;
}

.name {
  text-align: center;
  margin: 16px 0;
  span {
    font-weight: normal;
    opacity: 0.5;
  }
}

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0 16px;
  border-radius: 16px;
  background-color: var(--primary);
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 32px 0 64px;

  a {
    opacity: 0.8;
  }
}
