.profile {
  padding: 8px;
  border-radius: 50%;
  border: 1px dashed var(--primary);
  border-bottom-width: 0px;
}

.name {
  text-align: center;
  margin: 16px 0;
  span {
    font-weight: normal;
    opacity: 0.5;
  }
}

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0 16px;
  border-radius: 16px;
  background-color: var(--primary);
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 32px 0 64px;

  a {
    opacity: 0.8;
  }
}

@keyframes downBtn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
    transform: translateY(-50px);
  }
  80%,
  90% {
    opacity: 0.5;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
  }
}

.down {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  bottom: 16px;
  left: calc(50% - 32px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  animation: downBtn 5s infinite normal backwards;
}
