@use '@/styles/breakpoint.scss' as breakpoint;

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 32px;
}

.itemWrapper {
  flex: none;
  width: 80%;
  max-width: 300px;
}

.end {
  text-align: center;
  margin: 32px 0 0;
  color: var(--dim);
}
