@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loader {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid;
  border-color: var(--foreground) transparent;
  animation: rotating 1s ease-in-out forwards infinite;
}
