.container {
  height: 100vh;
  padding-top: 64px;
  scroll-snap-align: start;
}

.title {
  padding: 0 32px 0 0;
  margin-bottom: 32px;
  h2 {
    margin: 0;
    padding: 8px 32px 8px;
    border-radius: 0 16px 16px 0;
    background: var(--primary);
  }
}

.content {
  --contentH: calc(100vh - 148px);
  height: var(--contentH);

  &[data-vcenter] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
