@use '@/styles/breakpoint.scss' as breakpoint;

@keyframes showTitle {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes showTitleBig {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showTitleTextBig {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  position: relative;
  min-height: 100vh;
  padding-top: 64px;
  scroll-snap-align: start;
  z-index: 1;

  .detector {
    position: absolute;
    top: 300px;
    left: 50%;
  }
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  animation: showTitle 1s 1 forwards;

  &::after {
    content: '';
    box-sizing: border-box;
    display: block;
    height: 2px;
    width: 32px;
    border: 1px dashed var(--gray);
  }

  h2 {
    width: 100%;
    margin: 0;
    padding: 8px 32px 8px;
    border-radius: 0 16px 16px 0;
    background: var(--primary);

    @include breakpoint.width640 {
      flex: none;
      display: inline-block;
      width: 240px;
      text-align: center;
      border-radius: 16px;
      background: transparent;
      border: 2px dashed var(--primary);
      animation: showTitleTextBig 1s 1 forwards;
    }
  }

  &[data-sticky] {
    position: sticky;
    top: 64px;
    z-index: 10;
    @include breakpoint.width640 {
      top: 80px;

      h2 {
        outline: 4px solid #242424;
        background-color: #242424;
        backdrop-filter: blur(5px);
      }
    }
  }

  @include breakpoint.width640 {
    justify-content: center;
    margin-top: 10vh;
    animation-name: showTitleBig;
    &::after {
      content: none;
    }
  }
}

.content {
  &[data-vcenter] {
    height: calc(100vh - 148px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include breakpoint.width768 {
    margin: 0 auto;
    width: 768px;
  }
}
