@keyframes show {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgb(36 36 36 / 60%);
  backdrop-filter: blur(5px);
  z-index: 10;
  opacity: 0;
  transform: translateY(-50px);
  transition: all 250ms;

  &[data-show] {
    opacity: 1;
    transform: translateY(0);
  }

  .wrapper {
    padding: 8px 32px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
