@use '@/styles/breakpoint.scss' as breakpoint;

.content {
  &[data-vcenter] {
    height: calc(var(--windowH) - 148px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include breakpoint.width768 {
    margin: 0 auto;
    width: 768px;
  }

  &[data-wide] {
    width: 100%;
    > div {
      @include breakpoint.width1024 {
        margin: 0 auto;
        width: 1024px;
      }
    }
  }

  &[data-scrollable] {
    --hDiff: 148px;
    overflow: auto;

    @include breakpoint.width768 {
      --hDiff: calc(var(--titleMTop) + 152px);
    }

    height: calc(var(--windowH) - var(--hDiff));

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
