@use '@/styles/breakpoint.scss' as breakpoint;
@use '@/styles/animation.scss' as animation;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.item {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 16px;
  border: 2px solid var(--gray);
  background-color: var(--gray);
  @include animation.fadeInLeft;
  animation-delay: inherit;

  .wrapper {
    height: 100%;
    border-radius: 16px 16px 0;

    &::-webkit-scrollbar {
      display: none;
    }

    .previewWrapper {
      overflow: hidden;
      height: 114px;
      margin-bottom: 8px;
      transition: height 500ms;

      &[data-expanded] {
        height: 170px;
      }

      & > * {
        animation: fadeIn 500ms 1 forwards;
      }

      .thumbnail {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 14px 14px 0 0;
      }
    }

    .content {
      padding: 0 16px;

      .head {
        all: unset;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        width: 100%;
        margin-bottom: 4px;
        .title {
          margin: 0;
        }
        .chevron {
          color: var(--dim);
          svg {
            display: block;
          }

          @include breakpoint.width640 {
            display: none;
          }
        }
      }

      .desc {
        margin: 0;
        color: var(--dim);
      }

      .extra {
        margin: 0;
        overflow: hidden;
        max-height: 0;
        transition: all 500ms;

        &[data-expanded] {
          max-height: 100px;
          margin-top: 8px;
        }
      }

      .row {
        display: flex;
        gap: 8px;
        color: #aaa;

        a {
          color: var(--primary);
        }
      }

      .icon {
        flex: none;
        padding: 4px 0;
        svg {
          display: block;
        }
      }

      .stacks {
        word-break: break-word;
        a {
          display: inline-block;
        }
      }

      .repo {
        width: calc(100% - 32px);
        a {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
        }
      }
    }
  }
  .btnWrapper {
    height: 0;
    padding: 0 16px;
    margin-top: 16px;
    overflow: hidden;
    transition: all 250ms;

    &[data-expanded] {
      height: 80px;
      padding: 16px;
      margin: 0;
    }

    .liveBtn {
      all: unset;
      position: relative;
      box-sizing: border-box;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 48px;
      border-radius: 24px;
      border: 2px solid;
      transition: all 250ms, transform 750ms;

      .text {
        z-index: 2;
        display: flex;
        align-items: center;
        max-width: 80%;
        gap: 8px;
        svg {
          flex: none;
        }
        b {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &[aria-disabled='true'] {
        cursor: not-allowed;
        color: #afafaf;
        border-color: #afafaf;
      }

      &[aria-disabled='false'] {
        cursor: pointer;
        color: var(--accent);
        border-color: var(--accent);

        &::before,
        &::after {
          content: '';
          box-sizing: border-box;
          position: absolute;
          left: -48px;
          top: 0;
          height: 48px;
        }

        &::before {
          z-index: 1;
          width: 48px;
          background-color: var(--gray);
          transition: all 750ms;
        }

        @include breakpoint.width768 {
          &::after {
            z-index: 0;
            width: 24px;
            background-color: var(--accent);
            transition: width 750ms;
          }

          &:hover {
            color: var(--gray);
            transform: scale(1.02);
            &::before {
              left: 100%;
              border-radius: 16px;
              transform: rotate(180deg);
            }
            &::after {
              width: calc(100% + 72px);
            }
          }
        }
      }
    }
  }

  @include breakpoint.width640 {
    &:hover {
      .wrapper .content .head .chevron {
        display: block;
      }
    }
  }
}
