.cardModifier {
  --color-card-border: var(--gray);
  --color-card-background: var(--gray);
  --color-card-desc: var(--dim);
  --color-card-expand-icon: #999999;
  --color-card-link: var(--primary);
  --color-card-button-text: var(--accent);
  --color-card-button-border: var(--accent);
  --color-card-background: var(--gray);
  --color-card-button-background-hover: var(--accent);
  --color-card-button-text-hover: var(--gray);
}
